#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box; 
}


nav {
    background-color: #d8a7b1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
}

.menu {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


.left {
    float: left;
    width: 300px;        
    height: auto;        
    margin-left: 20px;   
    margin-right: 30px;  
    margin-bottom: 20px;
    border-radius: 15px;
}


h1 {
    color: #555;
    border-bottom: none !important;
    text-align: center;
}


section article {
    overflow: hidden;
    text-align: center;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    clear: both;
    margin-top: 20px;
}
